@import "tailwindcss";

@theme {
  --color-silver-100: #f5f7fa;
  --color-grey-blue: #abbed1;
  --color-lgrey: #89939e;
  --color-grey: #717171;
  --color-dgrey: #4d4d4d;
  --color-dark: #263238;
  --color-primary: #28cb8b;
  --color-secondary: #263238;
  --color-info: #2194f3;

  --animate-leftIn: leftIn 0.5s ease forwards;
  --animate-rightIn: rightIn 0.5s ease forwards;
  --animate-rolarTexto: rolarTexto 20s linear infinite;

  @keyframes leftIn {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes rightIn {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes rolarTexto {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
